@model List<AutoServiceSystem.BusinessObject.Repair>

@{
    ViewBag.Title = "All Repairs";
}

<h1>All Repairs</h1>

<div>
    <button onclick="location.href='/create';return false;" class="add-new">Create New Repair</button>
</div>

<section>
    <div>
        <table>
            <tr>
                <th>CreatedDate</th>
                <th>Description</th>
                <th>Price</th>
                <th>VehicleID</th>
            </tr>
            @foreach (var repair in Model)
            {
                <tr>
                    <td>@repair.CreatedDate</td>
                    <td>@repair.Description</td>
                    <td>@repair.Price</td>
                    <td>@repair.VehicleID</td>
                    <td>
                        <button onclick="location.href='/edit/@repair.Id';return false;" class="edit">Edit</button>
                        <button onclick="location.href='/delete/@repair.Id';return false;" class="delete">Delete</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>